<h3>{{product.title}}</h3>
<img src={{product.image}}
 alt={{product.title}}>
<p>{{product.description}}</p>
<p>Posted by: {{product.user.name}}</p>
<p>Cost: ${{product.cost}}</p>
{{#if product.inCart}}
  Already in cart!
{{else}}
  <button {{action 'addToCart' product}}>Add to Cart</button>
{{/if}}
<hr>
