<h2>{{product.title}}</h2>
<img src={{product.image}}
 alt={{product.title}}>
<p>{{product.description}}</p>
<p>Cost: ${{product.cost}}</p>

<button {{action 'addToCart' product}}>Add to Cart</button>
<hr>
