{{#if addRating}}
  <h2>Comment/Review</h2>
   <div>
     <form>
       <div class="form-group">
         <label for="user">Username: </label>
         {{input value=user id="user"}}
       </div>

       <div class="form-group">
         <label for="stars">Your Review</label>
         <div>
           {{textarea class="big" value=stars id="stars"}}
         </div>
       </div>

       <button {{action 'saveRating'}}>Post</button>
       <button {{action 'formHide'}}>Hide Form</button>
     </form>
   </div>
{{else}}
  <button {{action 'ratingFormShow'}}>Review</button>
{{/if}}
